{% load static %}

<nav>
    <div class="row">
        <a href="{%url 'home' %}">
            <img src="{% static 'cluster/resources/img/logo.png' %}" alt="Bamboo Craft Cluster logo" class="logo">
        </a>
        <img src="{% static 'cluster/resources/img/logo.png' %}" alt="Bamboo Craft Cluster logo" class="logo-black">
        <ul class="main-nav js--main-nav">
            <!--<li><a href="#features">Cluster</a></li>-->
            <!--<li><a href="#works">Our aim</a></li>-->
            <li><a href="#cities">Products</a></li>
            <li><a href="#articles">Articles</a></li>
            <li><a href="#plans">About us</a></li>
            <li><a href="{% url 'contact_us' %}">Contact us</a></li>
            {% if user.is_authenticated %}
            <li><a href="{% url 'our_team' %}">Our Team</a></li>
            <li><a href="{% url 'contact_us_responses' %}">Responses</a></li>
            <li><a href="{% url 'logout' %}">Logout</a></li>
            {% endif %}
        </ul>
        <a class="mobile-nav-icon js--nav-icon"><i class="ion-navicon-round"></i></a>
    </div>
</nav>
