{% extends 'cluster/base.html' %}
{% load static %}

{% block body_block %}
<div style="background-color: grey; ">{% include 'cluster/header2.html' %}</div>
<section class="section-plans js--section-plans" id="plans">
            <div class="row">
                <h2>About us</h2>
            </div>
            <div class="row">
                <div class="about-us-box">
                    <h3>Bamboo Craft Cluster, Khalwa</h3>
                    <h3>Khandwa (Madhya Pradesh)</h3>
                    <br><br>
                    <h4>Email: bamboocraftcluster@gmail.com</h4>
                    <h4>Mobile: +91999999999</h4>
                </div>
            </div>
        </section>
{% endblock %}