{% extends 'cluster/base.html' %}
{% load static %}

{% block body_block %}
<header>
    {% include 'cluster/header.html' %}
</header>

<div class="hero-text-box">
                <h1>"Bamboo Craft Cluster"</h1>
                <a class="btn btn-full js--scroll-to-plans" href="#">Explore</a>
                <a class="btn btn-ghost js--scroll-to-start" href="#">Show me more</a>
            </div>
            
        
        
        <section class="section-features js--section-features" id="features">
            <div class="row">
                <h2>Bamboo Craft Cluster</h2>
                <p class="long-copy">
                    The bamboo based products currently being manufactured in the cluster are
baskets of various sizes. Also trays called “supa” woven with bamboo are also
made but they are smaller in volumes. The clay pottery items range from pots of
various sizes and clay idols. In the last year or two, IA has been working with the
artisans to expand their product range (bamboo furniture, murals, wall
hangings, lampshades, ceramic-ware etc.)
                </p>
            </div>
            
            <div class="row js--wp-1">
                <div class="col span-1-of-4 box">
                    <i class="ion-ios-infinite-outline icon-big"></i>
                    <h3>Up to 365 days/year</h3>
                    <p>
                        Never cook again! We really mean that. Our subscription plans include up to 365 days/year coverage. You can also choose to order more flexibly if that's your style.
                    </p>
                </div>
                <div class="col span-1-of-4 box">
                    <i class="ion-ios-stopwatch-outline icon-big"></i>
                    <h3>Ready in 20 minutes</h3>
                    <p>
                        You're only twenty minutes away from your delicious and super healthy meals delivered right to your home. We work with the best chefs in each town to ensure that you're 100% happy.
                    </p>
                </div>
                <div class="col span-1-of-4 box">
                    <i class="ion-ios-nutrition-outline icon-big"></i>
                    <h3>100% made in India</h3>
                    <p>
                        All our vegetables are fresh, organic and local. Animals are raised without added hormones or antibiotics. Good for your health, the environment, and it also tastes better!
                    </p>
                </div>
                <div class="col span-1-of-4 box">
                    <i class="ion-ios-cart-outline icon-big"></i>
                    <h3>Order anything</h3>
                    <p>
                        We don't limit your creativity, which means you can order whatever you feel like. You can also choose from our menu containing over 100 delicious meals. It's up to you!
                    </p>
                </div>
            </div>   
        </section>
        
        <section class="section-meals">
            <div class="row">
                <h2>Top Products</h2>
            </div>
            <ul class="meals-showcase clearfix">
                <li>
                    <figure class="meal-photo">
                        <img src="{% static 'cluster/resources/img/1.jpeg' %}" alt="Korean bibimbap with egg and vegetables">
                    </figure>
                </li>
                <li>
                    <figure class="meal-photo">
                        <img src="{% static 'cluster/resources/img/2.jpeg' %}" alt="Simple italian pizza with cherry tomatoes">
                    </figure>
                </li>
                <li>
                    <figure class="meal-photo">
                        <img src="{% static 'cluster/resources/img/3.jpeg' %}" alt="Chicken breast steak with vegetables">
                    </figure>
                </li>
                <li>
                    <figure class="meal-photo">
                        <img src="{% static 'cluster/resources/img/4.jpeg' %}" alt="Autumn pumpkin soup">
                    </figure>
                </li>
            </ul>
            <ul class="meals-showcase clearfix">
                <li>
                    <figure class="meal-photo">
                        <img src="{% static 'cluster/resources/img/5.jpeg' %}" alt="Paleo beef steak with vegetables">
                    </figure>
                </li>
                <li>
                    <figure class="meal-photo">
                        <img src="{% static 'cluster/resources/img/6.jpeg' %}" alt="Healthy baguette with egg and vegetables">
                    </figure>
                </li>
                <li>
                    <figure class="meal-photo">
                        <img src="{% static 'cluster/resources/img/7.jpeg' %}" alt="Burger with cheddar and bacon">
                    </figure>
                </li>
                <li>
                    <figure class="meal-photo">
                        <img src="{% static 'cluster/resources/img/8.jpeg' %}" alt="Granola with cherries and strawberries">
                    </figure>
                </li>
            </ul>
        </section>
        
        
        <section class="section-steps" id="works">
            <div class="row">
                <h2>"Our Aim"</h2>
            </div>
            <div class="row">
                <div class="col span-1-of-2 steps-box">
                    <img src="{% static 'cluster/resources/img/artesian3.jpg'%}" alt="Omnifood app on iPhone" class="app-screen js--wp-2">
                </div>
                <div class="col span-1-of-2 steps-box">
                    <div class="works-step clearfix">
                        <div>1</div>
                        <p>Help artesian to be self dependent.</p>
                    </div>
                    <div class="works-step clearfix">
                        <div>2</div>
                        <p>Encourage locality skills.</p>
                    </div>
                    <div class="works-step clearfix">
                        <div>3</div>
                        <p>Encourage Made in India.</p>
                    </div>
                    
                  <!--  <a href="#" class="btn-app"><img src="{% static 'cluster/resources/img/download-app.svg'%}" alt="App Store Button"></a>
                    <a href="#" class="btn-app"><img src="{% static 'cluster/resources/img/download-app-android.png'%}" alt="Play Store Button"></a>
                --></div>
            </div>
        </section>
        
        <section class="section-cities" id="cities">
            <div class="row">
                <h2>Our creative products</h2>
            </div>
            <div class="row js--wp-3">
                <div class="col span-1-of-4 box">
                    <img src="{% static 'cluster/resources/img/BELLGADI.jpeg' %}" alt="Lisbon">
                    <h3>product1</h3>
                    <div class="city-feature">
                        <i class="ion-ios-person icon-small"></i>
                        detail1
                    </div>
                    <div class="city-feature">
                        <i class="ion-ios-star icon-small"></i>
                        detail2
                    </div>
                    <div class="city-feature">
                        <i class="ion-social-twitter icon-small"></i>
                        <a href="#">more</a>
                    </div>
                </div>
                <div class="col span-1-of-4 box">
                    <img src="{% static 'cluster/resources/img/product3.jpg' %}" alt="San Francisco">
                    <h3>product2</h3>
                    <div class="city-feature">
                        <i class="ion-ios-person icon-small"></i>
                        detail1
                    </div>
                    <div class="city-feature">
                        <i class="ion-ios-star icon-small"></i>
                        detail2
                    </div>
                    <div class="city-feature">
                        <i class="ion-social-twitter icon-small"></i>
                        <a href="#">more</a>
                    </div>
                </div>
                <div class="col span-1-of-4 box">
                    <img src="{% static 'cluster/resources/img/product2.jpg' %}" alt="Berlin">
                    <h3>product3</h3>
                    <div class="city-feature">
                        <i class="ion-ios-person icon-small"></i>
                        detail1
                    </div>
                    <div class="city-feature">
                        <i class="ion-ios-star icon-small"></i>
                        detail2
                    </div>
                    <div class="city-feature">
                        <i class="ion-social-twitter icon-small"></i>
                        <a href="#">more</a>
                    </div>
                </div>
                <div class="col span-1-of-4 box">
                    <img src="{% static 'cluster/resources/img/product1.jpg' %}" alt="London">
                    <h3>product4</h3>
                    <div class="city-feature">
                        <i class="ion-ios-person icon-small"></i>
                        detail1
                    </div>
                    <div class="city-feature">
                        <i class="ion-ios-star icon-small"></i>
                        detail2
                    </div>
                    <div class="city-feature">
                        <i class="ion-social-twitter icon-small"></i>
                        <a href="#">more</a>
                    </div>
                </div>
            </div>
            
        </section>
        
        <section class="section-testimonials">
            <div class="row">
                <h2>thinking behind our contributors</h2>
            </div>
            <div class="row">
                <div class="col span-1-of-3">
                    <blockquote>
                        “Leadership is about finding your unique blueprint and expressing that courageously, confidently, and vulnerably.”
                        <cite><img src="{% static 'cluster/resources/img/customer-1.jpg' %}" alt="Customer 1 photo">Alberto Duncan</cite>
                    </blockquote>
                </div>
                <div class="col span-1-of-3">
                    <blockquote>
                       “Leadership really comes down to two fundamental things and if you get them right, then you’re 80 percent of the way there. The first one is establishing the vision for a team; the second one is establishing a culture for your organization that helps contribute to mission success.”
                        <cite><img src="{% static 'cluster/resources/img/customer-2.jpg' %}" alt="Customer 2 photo">Joana Silva</cite>
                    </blockquote>
                </div>
                <div class="col span-1-of-3">
                    <blockquote>
                        "I was looking for a “I would ask you to question who’s at the table and who’s not at the table and to think about those voices that aren’t represented when you’re making decisions.”
                        <cite><img src="{% static 'cluster/resources/img/customer-3.jpg' %}" alt="Customer 3 photo">Milton Chapman</cite>
                    </blockquote>
                </div>
            </div>
        </section>
{% endblock %}
        
        
     

        