{% extends 'cluster/base.html' %}
{% load static %}

{% block body_block %}
<header>
    {% include 'cluster/header.html' %}
</header>

<div class="hero-text-box">
                <h1>"Bamboo Craft Cluster"</h1>
                <a class="btn btn-full js--scroll-to-start" href="#">Explore us</a>
                <a class="btn btn-ghost js--scroll-to-plans" href="#">Know more</a>
</div>
            
        
        
        <section class="section-features js--section-features" id="features">
            <div class="row">
                <h2>Bamboo Craft Cluster</h2>
                <p class="long-copy">
                    The bamboo based products currently being manufactured in the cluster are
baskets of various sizes. Also trays called “supa” woven with bamboo are also
made but they are smaller in volumes. The clay pottery items range from pots of
various sizes and clay idols. In the last year or two, IA has been working with the
artisans to expand their product range (bamboo furniture, murals, wall
hangings, lampshades, ceramic-ware etc.)
                </p>
                <p class="long-copy">
                    Cluster empower artisans and build their capacity to meet the challenges of the
market and global competition in a sustainable and self-reliant manner.
                </p>
                <p class="long-copy">
                    Cluster facilitate collectivization of artisans for procurement, production,
marketing and other support activities to promote sustainable growth and
diversification
                </p>
            </div>
            <div class="row">
                <h2>Recent Articles</h2>
            </div>
            <div class="row js--wp-1">
                {% for Article in Articles %}
                <div class="col span-1-of-4 box">
                    <a href="{% url 'article' Article.id %}">
                    <div>
                        <h3>{{Article.a_title}}</h3>
                        <p>{{Article.a_description|truncatechars:230}}</p>
                        <p class="date_para">Posted on: {{Article.a_date|date}}</p>
                    <hr>
                    </div>
                    </a>
                </div>
                {% endfor %}
            </div>
                <div class="row">
                        <div class="col span-1-of-3">
                            <label>&nbsp;</label>
                        </div>
                        <div class="col span-2-of-3">
                            <a class="btn btn-full" href="{%url 'articles'%}">read more</a>
                        </div>
                    </div>
            </div>   
        </section>
        
        <section class="section-clusters">
            <div class="row">
                <h2>Top Products</h2>
            </div>
            <ul class="clusters-showcase clearfix">
                <li>
                    <figure class="cluster-photo">
                        <img src="{% static 'cluster/resources/img/1.jpeg' %}" alt="Korean bibimbap with egg and vegetables">
                    </figure>
                </li>
                <li>
                    <figure class="cluster-photo">
                        <img src="{% static 'cluster/resources/img/2.jpeg' %}" alt="Simple italian pizza with cherry tomatoes">
                    </figure>
                </li>
                <li>
                    <figure class="cluster-photo">
                        <img src="{% static 'cluster/resources/img/3.jpeg' %}" alt="Chicken breast steak with vegetables">
                    </figure>
                </li>
                <li>
                    <figure class="cluster-photo">
                        <img src="{% static 'cluster/resources/img/4.jpeg' %}" alt="Autumn pumpkin soup">
                    </figure>
                </li>
            </ul>
            <ul class="clusters-showcase clearfix">
                <li>
                    <figure class="cluster-photo">
                        <img src="{% static 'cluster/resources/img/5.jpeg' %}" alt="Paleo beef steak with vegetables">
                    </figure>
                </li>
                <li>
                    <figure class="cluster-photo">
                        <img src="{% static 'cluster/resources/img/6.jpeg' %}" alt="Healthy baguette with egg and vegetables">
                    </figure>
                </li>
                <li>
                    <figure class="cluster-photo">
                        <img src="{% static 'cluster/resources/img/7.jpeg' %}" alt="Burger with cheddar and bacon">
                    </figure>
                </li>
                <li>
                    <figure class="cluster-photo">
                        <img src="{% static 'cluster/resources/img/8.jpeg' %}" alt="Granola with cherries and strawberries">
                    </figure>
                </li>
            </ul>
        </section>
        
        
        <section class="section-steps" id="works">
            <div class="row">
                <h2>"Our Aim"</h2>
            </div>
            <div class="row">
                <div class="col span-1-of-2 steps-box">
                    <img src="{% static 'cluster/resources/img/artesian3.jpg'%}" alt="Omnifood app on iPhone" class="app-screen js--wp-2">
                </div>
                <div class="col span-1-of-2 steps-box">
                    <div class="works-step clearfix">
                        <div>1</div>
                        <p>Help artesian to be self dependent.</p>
                    </div>
                    <div class="works-step clearfix">
                        <div>2</div>
                        <p>Encourage locality skills.</p>
                    </div>
                    <div class="works-step clearfix">
                        <div>3</div>
                        <p>Encourage Made in India.</p>
                    </div>
                    
                  <!--  <a href="#" class="btn-app"><img src="{% static 'cluster/resources/img/download-app.svg'%}" alt="App Store Button"></a>
                    <a href="#" class="btn-app"><img src="{% static 'cluster/resources/img/download-app-android.png'%}" alt="Play Store Button"></a>
                --></div>
            </div>
        </section>
        
        <section class="section-cities" id="cities">
            <div class="row">
                <h2>Our creative products</h2>
            </div>
            <div class="row js--wp-3">
                {% for product in Products%}
                <div class="col span-1-of-4 ">
                    <img src="{{ product.p_product_img.url }}" alt="{{product.p_title}}" height="200" width="200">
                        <h3>{{product.p_title}}</h3>
                    <div class="city-feature">
                        <i class="ion-ios-person icon-small"></i>
                        detail1
                    </div>
                    <div class="city-feature">
                        <i class="ion-ios-star icon-small"></i>
                        detail2
                    </div>
                    <div class="city-feature">
                        <i class="ion-social-twitter icon-small"></i>
                        <a href="#">more</a>
                    </div>
                </div>
                {% endfor %}
                    <div class="row">
                        <div class="col span-1-of-3">
                            <label>&nbsp;</label>
                        </div>
                        <div class="col span-2-of-3">
                            <a class="btn btn-full" href="{%url 'products'%}">more</a>
                        </div>
                    </div>
            </div>
            
        </section>
        
        <section class="section-testimonials">
            <div class="row">
                <h2>thinking behind our contributors</h2>
            </div>
            <div class="row">
                <div class="col span-1-of-3">
                    <blockquote>
                        “Leadership is about finding your unique blueprint and expressing that courageously, confidently, and vulnerably.”
                        <cite><img src="{% static 'cluster/resources/img/customer-1.jpg' %}" alt="Customer 1 photo">Alberto Duncan</cite>
                    </blockquote>
                </div>
                <div class="col span-1-of-3">
                    <blockquote>
                       “Leadership really comes down to two fundamental things and if you get them right, then you’re 80 percent of the way there. The first one is establishing the vision for a team; the second one is establishing a culture for your organization that helps contribute to mission success.”
                        <cite><img src="{% static 'cluster/resources/img/customer-2.jpg' %}" alt="Customer 2 photo">Joana Silva</cite>
                    </blockquote>
                </div>
                <div class="col span-1-of-3">
                    <blockquote>
                        "I was looking for a “I would ask you to question who’s at the table and who’s not at the table and to think about those voices that aren’t represented when you’re making decisions.”
                        <cite><img src="{% static 'cluster/resources/img/customer-3.jpg' %}" alt="Customer 3 photo">Milton Chapman</cite>
                    </blockquote>
                </div>
            </div>
        </section>
    <section class="section-plans js--section-plans" id="plans">
            <div class="row">
                <h2>About us</h2>
            </div>
            <div class="row">
                <div class="about-us-box">
                    <h3>Bamboo Craft Cluster, Khalwa</h3>
                    <h3>Khandwa (Madhya Pradesh)</h3>
                    <br><br>
                    <h4>Email: bamboocraftcluster@gmail.com</h4>
                    <h4>Mobile: +91999999999</h4>
                </div>
            </div>
        </section>

        <!--<section class="section-form">-->
            <!--<div class="row">-->
                <!--<h2>We're happy to hear from you</h2>-->
            <!--</div>-->
            <!--<div class="row">-->
                <!--<form method="post" action="#" class="contact-form">-->
                    <!--<div class="row">-->
                        <!--<div class="col span-1-of-3">-->
                            <!--<label for="name">Name</label>-->
                        <!--</div>-->
                        <!--<div class="col span-2-of-3">-->
                            <!--<input type="text" name="name" id="name" placeholder="Your name" required>-->
                        <!--</div>-->
                    <!--</div>-->
                    <!--<div class="row">-->
                        <!--<div class="col span-1-of-3">-->
                            <!--<label for="email">Email</label>-->
                        <!--</div>-->
                        <!--<div class="col span-2-of-3">-->
                            <!--<input type="email" name="email" id="email" placeholder="Your email" required>-->
                        <!--</div>-->
                    <!--</div>-->
                    <!--<div class="row">-->
                        <!--<div class="col span-1-of-3">-->
                            <!--<label for="find-us">How did you find us?</label>-->
                        <!--</div>-->
                        <!--<div class="col span-2-of-3">-->
                            <!--<select name="find-us" id="find-us">-->
                                <!--<option value="friends" selected>Friends</option>-->
                                <!--<option value="search">Search engine</option>-->
                                <!--<option value="ad">Advertisement</option>-->
                                <!--<option value="other">Other</option>-->
                            <!--</select>-->
                        <!--</div>-->
                    <!--</div>-->
                    <!--<div class="row">-->
                        <!--<div class="col span-1-of-3">-->
                            <!--<label>Newsletter?</label>-->
                        <!--</div>-->
                        <!--<div class="col span-2-of-3">-->
                            <!--<input type="checkbox" name="news" id="news" checked> Yes, please-->
                        <!--</div>-->
                    <!--</div>-->
                    <!--<div class="row">-->
                        <!--<div class="col span-1-of-3">-->
                            <!--<label>Drop us a line</label>-->
                        <!--</div>-->
                        <!--<div class="col span-2-of-3">-->
                            <!--<textarea name="message" placeholder="Your message"></textarea>-->
                        <!--</div>-->
                    <!--</div>-->
                    <!--<div class="row">-->
                        <!--<div class="col span-1-of-3">-->
                            <!--<label>&nbsp;</label>-->
                        <!--</div>-->
                        <!--<div class="col span-2-of-3">-->
                            <!--<input type="submit" value="Send it!">-->
                        <!--</div>-->
                    <!--</div>-->

                <!--</form>-->

            <!--</div>-->
        <!--</section>-->
{% endblock %}
        
        
     

        