{% extends 'cluster/base.html' %}
{% load static %}

{% block body_block %}
<div style="background-color: grey; ">{% include 'cluster/header2.html' %}</div>
 <section class="section-cities" id="cities">
            <div class="row">
                <h2>Our creative products</h2>
            </div>

            <div class="row js--wp-3">
                {% for product in products %}
                <div class="col span-1-of-4 box">
                    <img src="{{ product.p_product_img.url }}" alt="{{product.p_title}}">
                    <h3>{{product.p_title}}</h3>
                    <div class="city-feature">
                        <i class="ion-ios-person icon-small"></i>
                        detail1
                    </div>
                    <div class="city-feature">
                        <i class="ion-ios-star icon-small"></i>
                        detail2
                    </div>
                    <div class="city-feature">
                        <i class="ion-social-twitter icon-small"></i>
                        <a href="{% url 'product' product.id %}">more</a>
                    </div>
                </div>
                {% endfor %}
                </div>
            
        </section>
}
{% endblock %}